services:
  - type: web
    name: bakara-beast
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn main:app -b 0.0.0.0:$PORT
    envVars:
      - key: BOT_TOKEN
        value: 7573497633:AAHk9K15yTCiJP-zruJrc9v8eK8I9XhjyH4
      - key: PORT
        value: 10000
      - key: WEBHOOK_URL
        value: https://bot-novembre-1.onrender.com
        
